
.space2 {
  margin-top: 2%
}

section > header.slide > h1.two-lines {
  margin-top: -1.1em;
}

section > section.slide > pre:first-child {
  margin-top: 4%;
}

#intro {
  background: rgba(0,0,0,.7);
  padding: 0;
  border: 0;
}

#intro h1 {
  font-size: 350%;
  line-height: 1;
  text-align: center;
  margin-top: 1.2em;
  font-weight: bold;
  width: 80%;
  min-height: 500px;
  margin: 15% auto 0;
}

#intro .attribution {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 100%;
  color: #fff;
  text-shadow: none;
  background: none;
  padding:.6em 0 0;
  overflow: hidden;
}

#intro blockquote {
  position: absolute;
  height: 3.6em;
  width: 100%;
  right: 2.5em;
  bottom: 2.5em;
  text-align: right;
  line-height: 1.2;
}

#intro blockquote .author {
  font-size: 0.8em;
}

section > h2.full-slide {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -.6em;
  font-size: 400%;
  line-height: 1;
  text-align: center;
}

section > h2.full-slide-3 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1.6em;
  font-size: 400%;
  line-height: 1;
  text-align: center;
}

section > footer > .me {
  margin: 1em 0;
}
